<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout.html :: header}"></th:block>
<style>
  th {
    text-align: center; /* Căn nội dung trong th ra giữa */
  }
  td{
    text-align: center; /* Căn nội dung trong th ra giữa */
  }
  option{
    text-align: center; /* Căn nội dung trong th ra giữa */
  }

</style>
<div class="container">
  <div style="border-radius: 37px; background-color: white">    <h1 class="card-header" style="text-align: center">Nail Bill</h1>
  </div>
  <br>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px">
      <div class="modal-content">
        <div class="modal-header" style="display: flex;justify-content: center">
          <h4 class="modal-title" id="staticBackdropLabel"  >Modal title</h4>
          <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="color"></button>-->
        </div>
        <div class="modal-body">
          <form id="billForm"  >
            <div class="form-group col-12" >
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên"  oninput="validateName(this)" >
              <div id="nameError" class="error-message" style="color: red;"></div>
            </div>
            <div class="form-group col-12">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description" placeholder="Mô tả sản phẩm" name="description" oninput="validateDescription(this)" >
              <div id="descriptionError" class="error-message" style="color: red;"></div>

            </div>
            <div class="form-group col-lg-12">
              <label for="price">Price</label>
              <input type="text" class="form-control" id="price" placeholder="Gía tiền"  name="price" oninput="validatePrice(this)" >
              <div id="priceError" class="error-message" style="color: red;"></div>
            </div>
            <div class="form-group col-12">
              <label for="users">Products</label>
              <select style="width: 100%!important; padding: .375rem .75rem!important;"
                      class="js-example-basic-multiple form-control" id="users" name="users"
                      multiple="multiple">
                <option th:each="user : ${users}" th:value="${user.value}"
                        th:text="${user.name}"/>
              </select>
              <label for="users" id="usersError" class="error-message" style="color: red;"></label>
            </div>
            <div class="form-group col-12">
              <label for="products">Products</label>
              <select style="width: 100%!important; padding: .375rem .75rem!important;"
                      class="js-example-basic-multiple form-control" id="products" name="products"
                      multiple="multiple">
                <option th:each="product : ${products}" th:value="${product.value}"
                        th:text="${product.name}"/>
              </select>
              <label for="products" id="productsError" class="error-message" style="color: red;"></label>
            </div>
            <div class="form-group col-12">
              <label for="packages">Packages</label>
              <select style="width: 100%!important; padding: .375rem .75rem!important;"
                      class="js-example-basic-multiple form-control" id="packages" name="packages"
                      multiple="multiple">
                <option th:each="combo : ${combos}" th:value="${combo.value}"
                        th:text="${combo.name}"/>
              </select>
              <label for="packages" id="packagesError" class="error-message" style="color: red;"></label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn "  id="save"  >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div style="display: flex ; justify-content: space-evenly">
      <div style="width: 20%;height: 65px">
        <button style="background-color: #ea9797; margin: 12px; color: beige" type="button" class="btn   " data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="create">
          Create Bill
        </button>
      </div>
      <nav
              class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
              id="layout-navbar"
      >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
          </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
          <!-- Search -->
          <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center" style="width: 300px">
              <input
                      width="329px"
                      type="search"
                      class="form-control border-0 shadow-none"
                      placeholder="Search..."
                      aria-label="Search..."
                      id ="search"
              />
            </div>
          </div>
          <!-- /Search -->

        </div>
      </nav>
    </div>
    <table class="table table-bordered table-striped">
      <tr>
        <th style="width: 30px">No</th>
        <th style="width: 150px">Name</th>
        <th style="width: 150px">Description</th>
        <th style="width: 150px">Products</th>
        <th >Poster</th>
        <th >Action</th>
      </tr>
      <tbody id="tBodyBill">
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <nav aria-label="...">
        <ul class="pagination" id="paginationBill">

        </ul>
      </nav>
    </div>
  </div>
</div>

<th:block th:replace="~{layout.html :: footer}"></th:block>
<script src="/myjs/bill.js"></script>
<script>


</script>


</html>